[2019-11-05 23:33] sharmaaditya570191 opened #1 "Add API documentation for all routes"
**1.** Create a `README.md` file in the server directory.
**2.** Code for the entire API is in the `server` directory.
**3.** Describe functionality and behaviour of all routes and the response type when the user hits the endpoints.(include screenshots of request-response with morgan('tiny') if possible)

[2019-11-14 20:25] sharmaaditya570191 opened #2 "Enhance code readability by nesting routes"
**Description**
Use router parameters as well as nested routers to enhance code readability by nesting various `/minions`, `/ideas` and `/work` routes. Make separate file for the routes.

[2019-11-14 20:33] sharmaaditya570191 opened #3 "Add login feature to the boss machine"
Add login feature for the team leads and bosses whom you want to give access to the employee management feature.

[2019-11-14 20:37] sharmaaditya570191 opened #4 "Add JWT authentication to authenticate team leads"
Add authentication so that it is verified that only the team leads or the boss are accessing the boss machine.

[2019-11-14 21:00] sharmaaditya570191 opened #5 "Add field to store leaves taken by a employee"
Add field to enter leaves taken by a employee and assign extra work to that employee if number of leaves are more than 5 per month.

[2019-11-14 21:05] sharmaaditya570191 opened #6 "Add user interface for employees"
This includes adding a separate interface for employees where they can report and discuss the problems they are facing. This can be implemented in the form of a simple common discussion page for the boss and the employees.

[2019-11-14 21:12] sharmaaditya570191 opened #7 "Enhance icon designs"
Enhance icon designs for boss machine, minions and million dollar idea.

[2019-11-14 21:23] sharmaaditya570191 opened #8 "Add password reset feature"
Add password change or reset feature so that the boss or team leads can reset it if they forget their original password.

[2019-11-30 13:26] sharmaaditya570191 opened #9 "Improve the README.md file"
Make the documentation more informative and descriptive.

[2019-12-01 16:25] KIRA009 opened #10 "Environment variable error"
Getting this error when running `npm i`

[code]

It is an environment variable issue. Maybe something to do with the `babel-preset-react-app` version

If it is not, and environment variables need to be set manually, please mention them in the README

[2019-12-02 05:54] sharmaaditya570191 commented on #10
Hey @KIRA009 try deleting your `node_modules` folder and running `sudo npm install` again. I could not reproduce the error you got on my machine hence closing this for now. Feel free to reopen this again if you have any doubts.

[2019-12-02 05:54] #10 closed

[2019-12-02 09:16] KIRA009 commented on #10
Just for anyone who comes across this issue.

I was still having the issue, even after deleting the `node_modules` and reinstalling them. But the `npm start` command is working fine, even with all the errors during installation

[2019-12-06 17:52] Nisheanthan commented on #4
I'll take this. can I?

[2019-12-06 22:55] aditya-hari commented on #3
Hi! I'd like to give this a shot. Could you give me a few pointers on how I can start with this? Which files I should be looking at to implement this, how I should go about implementing it?

[2019-12-07 04:43] sharmaaditya570191 commented on #4
Yes sure go ahead @Nisheanthan .

[2019-12-07 04:46] sharmaaditya570191 commented on #3
Currently there is no code to implement login feature so you would have to make new files to implement `signup` and `login` feature which will have 2 fields ie. `emailid` and `password`.

[2019-12-09 15:42] chauhanparth210 opened #11 "Secure the web app"
Hello @sharmaaditya570191, I am Parth and I want to contribute to this project. Can I add [Helmet.js](https://helmetjs.github.io/) to prevent DNS attack and to prevent the web app from being hacked.

[2019-12-10 08:25] sharmaaditya570191 commented on #11
Yes sure. Go ahead.

[2019-12-12 06:48] chauhanparth210 commented on #11
@sharmaaditya570191  I think you should add ESLint and Prittier file for maintain and scale your code.

[2019-12-13 07:45] sharmaaditya570191 commented on #11
Yes you can add the files if you would like to work on it @chauhanparth210 .Thanks.

[2019-12-19 16:04] sharmaaditya570191 commented on #11
Hi @chauhanparth210 . Are you still working on this?

[2019-12-20 04:20] cynideschizo commented on #11
now i started working

[2019-12-20 07:53] chauhanparth210 commented on #11
Ok @cynideschizo , go ahead.

[2019-12-20 07:54] chauhanparth210 commented on #11
@

[2019-12-20 07:54] #11 closed

[2019-12-20 07:55] chauhanparth210 commented on #11
@cynideschizo , go ahead.

[2020-02-19 18:39] arcticfloyd1984 commented on #8
Hi! I would like to this up, can you guide me on how I should start? And what all files I should be working on?
Thank You!

[2020-02-20 13:33] sharmaaditya570191 commented on #8
Hey @arcticfloyd1984 . #3 needs to be implemented before we do this. Can you have a look at that issue?

[2020-02-20 13:54] arcticfloyd1984 commented on #8
Sure! I'll look into it.

[2020-02-25 08:58] imrishabh18 commented on #3
Hey, I am a Gssoc 2020 participant and i would like take this issue.

[2020-02-25 14:37] Samriddhi25 commented on #7
I want to take up this issue.

[2020-02-25 15:33] sharmaaditya570191 commented on #3
Sure. Go ahead @imrishabh18 .

[2020-02-26 14:05] imrishabh18 commented on #3
Hey, before i start implementing let me tell you what i have thought of implementing and correct me if i am wrong some where.
I will create two components login.js and signup.js. When a user clicks on minions.exe it will rederict to login page and if they are not registered then the sign up button over there will redirect to signup page. See if i am missing something or it is incorrect ? @sharmaad

[2020-02-26 18:53] sharmaaditya570191 commented on #3
Sounds good @imrishabh18 . You can try implementing this now as the coding period is also about to begin.

[2020-02-28 08:55] sharmaaditya570191 commented on #7
Sure. Go ahead @Samriddhi25 .

[2020-02-28 15:04] Endowmissy commented on #1
I am interested in working on this issue from GSSoC20

[2020-02-28 15:28] sharmaaditya570191 commented on #1
Sure! Please go ahead @Endowmissy .

[2020-02-29 06:57] vipuldcoder commented on #2
I am interested with the issue.

[2020-02-29 07:00] vipuldcoder commented on #6
I am interested with the issue.

[2020-02-29 07:02] vipuldcoder commented on #9
I am interested with the issue.

[2020-02-29 18:28] ranjal007 commented on #9
I would like to work on this issue
please assign it to me for gssoc20.

[2020-02-29 18:46] vipuldcoder commented on #5
I am interested with the issue.

[2020-03-01 05:25] LMPerera commented on #6
I would like to work on this issue

[2020-03-01 06:09] Satzyakiz commented on #7
I would like to contribute to this issue as a part of GSSoC 2020.

[2020-03-01 06:46] annu12340 commented on #9
I would also like to work on it

[2020-03-01 08:30] Valdermaut commented on #3
Hey @sharmaaditya570191 I would like to work on this issue.

[2020-03-01 08:43] imrishabh18 commented on #3
@Valdermaut i am already working on this bro.

[2020-03-01 10:24] manan-bedi2908 commented on #3
Can more than one work on same issue?

[2020-03-01 12:48] Samriddhi25 commented on #7
Please review the PR

[2020-03-01 16:17] abhishekjain35 commented on #9
I would like to work on this...

[2020-03-01 16:19] abhishekjain35 commented on #1
I would like to work on this issue as a part of GsSoc20

[2020-03-01 17:39] punisherz commented on #9
Its will be an honour to work on that issue

[2020-03-01 17:43] punisherz commented on #2
I would like to work on this issue @sharmaaditya570191 sir

[2020-03-02 13:53] vipuldcoder opened #15 "Make a document CONTRIBUTING.md"
Hello Everyone,
This is a new document that helps the open source contributors to understand and learn. How to get involved to contribute to this project. This makes a document helps us the collaborator to understand what this project is and how they can contribute towards it.
Thank You

[2020-03-02 17:19] bhavesh0206s commented on #6
I am interested with the issue.

[2020-03-02 18:18] sharmaaditya570191 commented on #3
Thanks for your interest! 1 person can work on 1 issue. I will soon open more beginner friendly issues.

[2020-03-02 18:18] sharmaaditya570191 commented on #9
@vipuldcoder you can take this up. Others can have a look at other  beginner friendly issues. I will open more easy issues soon.

[2020-03-02 18:19] sharmaaditya570191 commented on #2
@punisherz you can take this up.

[2020-03-02 18:21] sharmaaditya570191 commented on #6
@LMPerera you can take this up.

[2020-03-02 18:22] sharmaaditya570191 commented on #15
Anyone interested in this?

[2020-03-02 18:35] sharmaaditya570191 opened #16 "Design a logo for BOSSY"
This includes designing a nice and eye-catching logo for the project. The logo file type should be `.png`. You can suggest different file types along with the benefits of using them. First 4-5 interested people can work on this issue and we can go with the best design.

[2020-03-02 22:07] prajwal714 commented on #8
I'll work on this issue as a part of GSSOC'20 @sharmaaditya570191

[2020-03-02 22:09] prajwal714 commented on #4
Is the feature implemented?  If not I'll work on this as a part of GSSOC'20. @sharmaaditya570191

[2020-03-03 02:01] raa-zez commented on #15
I would like to work on this issue @sharmaaditya570191

[2020-03-03 02:04] raa-zez commented on #16
I would like to work on this issue @sharmaaditya570191

[2020-03-03 13:36] imrishabh18 opened #18 "Readme doesn't have proper guide for development setup contribution."
Many people are having issue with setting up the development environment for contribution.

[2020-03-03 13:36] imrishabh18 commented on #18
I am working on this.

[2020-03-03 17:42] ranjal007 commented on #16
I need to work on this issue. Please assign it to me.

[2020-03-04 05:20] sharmaaditya570191 commented on #16
@raa-zez @ranjal007 you can go ahead with the designs. As I mentioned earlier we will together decide which designs we need to take forward.

[2020-03-04 18:26] ranjal007 commented on #16
Okay, sure I will try my best to make an attractive logo.

[2020-03-05 14:08] gpsuhas20 commented on #4
hey can i take up this issue. @sharmaaditya570191

[2020-03-05 14:12] gpsuhas20 commented on #5
hey i am interested in contributing to this issue can u please assign me this task.

[2020-03-05 15:27] Satyam3976 commented on #18
I want to work on this issue. @sharmaaditya570191 Please asign me this issue.

[2020-03-05 15:28] imrishabh18 commented on #18
@Satyam3976 I have already made a PR foe this.

[2020-03-06 05:18] jamesjose03 commented on #15
@sharmaaditya570191 I would like to work on this issue

[2020-03-06 05:21] jamesjose03 opened #20 "Provide a TOC for README.md file"
At present, there is no table of contents for the README file.
TOC can provide easier navigation through the README file.

[2020-03-06 05:21] jamesjose03 commented on #20
@sharmaaditya570191 I would like to work on this issue

[2020-03-07 08:25] goyalmuskan commented on #16
May I also work on this issue? @sharmaaditya570191

[2020-03-07 09:59] punisherz commented on #16
I am interested! @sharmaaditya570191

[2020-03-07 16:18] Basilleaf24 commented on #20
@jamesjose03 @sharmaaditya570191 I would like to work on this, I haven't been assigned any issues,
pls assign me this issue

[2020-03-07 16:32] Basilleaf24 commented on #15
@sharmaaditya570191 I would like to work on this, this is going to be my first issue, pls assign it to me

[2020-03-08 15:53] jamesjose03 commented on #20
@Basilleaf24 Sorry, I am already working on this issue.

[2020-03-09 14:50] Basilleaf24 commented on #9
@sharmaaditya570191 I would like to do the documentation part in a detailed manner, pls assign me this issue

[2020-03-10 17:24] punisherz commented on #15
can i work on this issue? @sharmaaditya570191

[2020-03-10 17:25] punisherz commented on #18
@imrishabh18 is your pr merged?
meanwhile can i start on this sir @sharmaaditya570191

[2020-03-10 17:27] punisherz commented on #16
do i have to be assigned to suggest logo designs? @sharmaaditya570191

[2020-03-10 17:28] punisherz commented on #1
Can i work on this issue? @sharmaaditya570191

[2020-03-10 17:34] punisherz commented on #9
@sharmaaditya570191  Can i work on this issue
is anybody assigned?

[2020-03-10 17:35] imrishabh18 commented on #18
@punisherz No not yet

[2020-03-10 20:47] sharmaaditya570191 opened #25 "Convert AllMeetings component to function component"
Currently this is a class component. Convert the existing code by implementing it as a function component in React.

[2020-03-10 20:51] sharmaaditya570191 commented on #4
@prajwal714 you can take this up.

[2020-03-10 20:54] sharmaaditya570191 opened #26 "Convert Idea component to function component"
Currently this is a class component. Convert the existing code by implementing it as a function component in React.

[2020-03-10 20:56] sharmaaditya570191 opened #27 "Convert Minion component to function component"
Currently this is a class component. Convert the existing code by implementing it as a function component in React.

[2020-03-10 20:57] sharmaaditya570191 opened #28 "Convert SingleWorkRow component to function component"
Currently this is a class component. Convert the existing code by implementing it as a function component in React.

[2020-03-10 20:58] sharmaaditya570191 opened #29 "Convert Work component to function component"
Currently this is a class component. Convert the existing code by implementing it as a function component in React.

[2020-03-10 21:00] sharmaaditya570191 opened #30 "Fix errors in the console"
Currently React is giving some warnings in the console. Fix them by adding the relevant code.

[2020-03-10 21:10] sharmaaditya570191 opened #31 "Migrate from react-router to reach-router"
`reach-router` is a better router in terms of accessibility and comes from the same person who developed `react-router` and tries to cover the shortcomings of `react-router`. `reach` has a different path-scoring algorithm which makes it more specific.
The task is to replace every usage of `react-router` with `reach-router` and ensure that nothing breaks in the process.

[2020-03-10 21:20] sharmaaditya570191 commented on #15
@vipuldcoder are you still working on this?

[2020-03-10 21:23] sharmaaditya570191 commented on #20
@jamesjose03 what exactly do you plan to add in the `README`. Please keep in mind that we should keep the instructions in the `README` short and clear so that people tend to read the file.

[2020-03-10 21:27] SomyaGandhi commented on #28
I would like to work on this @sharmaaditya570191 . Please assign it to me

[2020-03-10 21:28] SomyaGandhi commented on #25
I would like to work on this @sharmaaditya570191 . Please assign it to me.

[2020-03-10 21:38] sharmaaditya570191 opened #32 "Improve SEO rankings for the app"
This includes studying about ways to improve SEO rankings and implementing them on the client side.

[2020-03-10 21:49] sharmaaditya570191 opened #33 "Add script to format and lint files with prettier-standard"
Add `prettier-standard` code formatter to the project which will format with `prettier` and lint with `ESLint` by following the instructions [here](https://github.com/sheerun/prettier-standard). Then add a small `format` script in the `package.json` so that contributors can run this script before making a pull request.

[2020-03-10 21:51] sharmaaditya570191 commented on #9
@vipuldcoder had been assigned this issue earlier.

[2020-03-10 21:54] sharmaaditya570191 commented on #5
Sure. Go ahead @gpsuhas20 .

[2020-03-10 21:55] sharmaaditya570191 commented on #6
@LMPerera are you still working on this?

[2020-03-10 22:52] sharmaaditya570191 opened #34 "Create a pull request template for the repository"
This includes creating a pull request template for the contributors.

[2020-03-10 22:52] sharmaaditya570191 opened #35 "Create a bug reporting template for the repository"
This includes creating a template for reporting bugs.

[2020-03-10 22:54] sharmaaditya570191 opened #36 "Create template for opening enhancement issues"
This includes creating a simple template for opening issues of enhancement category.

[2020-03-10 22:58] sharmaaditya570191 opened #37 "Add security to the web app"
This includes integrating [helmet.js](https://helmetjs.github.io/) in the express app to enhance security with respect to various types of attacks.

[2020-03-11 02:46] Aman-Codes commented on #34
I am a GSSOC 2020 participant and I would love to work on it. Please assign it to me.

[2020-03-11 02:46] Aman-Codes commented on #35
I am a GSSOC 2020 participant and I would love to work on it. Please assign it to me.

[2020-03-11 02:47] Aman-Codes commented on #36
I am a GSSOC 2020 participant and I would love to work on it. Please assign it to me.

[2020-03-11 05:35] imrishabh18 commented on #27
Hey, i will work on this issue

[2020-03-11 05:36] imrishabh18 commented on #33
Working on this issue

[2020-03-11 05:49] imrishabh18 commented on #37
Working on this.

[2020-03-11 06:05] imrishabh18 commented on #37
@sharmaaditya570191 Hey, see this https://github.com/sharmaaditya570191/BossY/commit/e1a52a8e81def6e8b85ef697491d2005c73ebcbe

[2020-03-11 06:57] sharmaaditya570191 commented on #37
@imrishabh18 I have already assigned you to another issue. Please try to complete 1 issue first.

[2020-03-11 06:57] sharmaaditya570191 commented on #27
@imrishabh18 I have assigned you another issue. Please complete that first.

[2020-03-11 06:59] imrishabh18 commented on #37
@sharmaaditya570191 Sorry,I have already added the PR for this.

[2020-03-11 07:22] sharmaaditya570191 commented on #37
I have closed that PR @imrishabh18

[2020-03-11 08:11] imrishabh18 commented on #33
@sharmaaditya570191 Hey, can you help me when i was trying to create a new branch and pushing this change of adding prettier-standard . When i was creating a PR it was also showing previous commits that i made of login and signup page. How to just create a PR with this change ? I searched a lot about this but still couldn't figure out that cherry-picking command.

[2020-03-11 08:31] shwetagurnani commented on #35
I am a GSSOC participant.Please assign it to me.It will be my first contribution to the project

[2020-03-11 08:35] shwetagurnani commented on #36
I would love to work on this issue.Please assign it to me

[2020-03-11 08:39] shwetagurnani commented on #15
I want to work on this issue.Please assign it to me.

[2020-03-11 08:43] Satyam3976 commented on #26
I can work on this issue.Please assign it to me

[2020-03-11 08:44] Satyam3976 commented on #25
I can work on this issue.Please assign it to me.

[2020-03-11 08:44] Satyam3976 commented on #29
I can work on this issue.Please assign it to me.

[2020-03-11 08:45] Satyam3976 commented on #27
I can work on this issue.Please assign it to me.

[2020-03-11 08:48] shwetagurnani commented on #25
I want to work on this.Please assign

[2020-03-11 08:50] shwetagurnani commented on #29
I can work on this issue.Please assign

[2020-03-11 10:19] Chetanjain10 commented on #15
I would like to work on this, this is going to be my first issue, pls assign it to me

[2020-03-11 10:50] Satyam3976 commented on #30
I am a GSSOC 2020 participant and had already fix this issue in my local machine. Please assign it to me so that I can pull request and show the changes to you.

[2020-03-11 11:05] BhuwanChandra commented on #26
@sharmaaditya570191 I would like to work on this issue. please assign this to me.

[2020-03-11 11:09] BhuwanChandra commented on #31
@sharmaaditya570191 I would like to work on this. please assign this to me

[2020-03-11 11:48] punisherz commented on #37
i want to work on this issue @sharmaaditya570191

[2020-03-11 13:11] sharmaaditya570191 commented on #37
You have already been assigned an issue @punisherz . Please try to complete that first.

[2020-03-11 16:19] Aanisha commented on #32
I am a GSSoC 2020 student. Please assign me this issue.

[2020-03-11 17:23] sharmakeshav10 commented on #37
I'd like to work on this issue.

[2020-03-11 18:37] Swati0604 commented on #8
I would love to work on this issue @sharmaaditya570191

[2020-03-12 07:36] nitashadhingra commented on #16
i'd like to contribute

[2020-03-12 07:41] suhanichawla commented on #8
#3 needs to be implemented before this, you can work on it after that issue is closed

[2020-03-12 11:27] jamesjose03 commented on #20
@sharmaaditya570191 To add a table of contents in the readme just like how standard README files are maintained. It provides an easier navigation through the README and people can understand what are the main topics that are included in the README file.
For example,
![image](https://user-images.githubusercontent.com/31133182/76517000-7d5d1600-6482-11ea-81b0-03a49d9b838a.png)

[2020-03-12 11:29] jamesjose03 commented on #35
@sharmaaditya570191 I would like to work on this issue. I am a GSSOC participant. Please assign this issue to me.

[2020-03-12 16:14] suhanichawla commented on #35
Sure go ahead

[2020-03-13 19:41] ashishnagpal2498 commented on #29
Can I work on this issue as part of GSSOC 20 ?

[2020-03-14 08:51] Kuljeet-123 commented on #34
@sharmaaditya570191  I'm a GSSOC'20 participant I would like to work on this issue...can you please assign me this.

[2020-03-14 17:37] BhuwanChandra commented on #27
@sharmaaditya570191 I would like to work on this issue. please assign this to me.

[2020-03-15 15:26] #1 closed

[2020-03-17 18:30] Chetanjain10 commented on #7
@sharmaaditya570191, please assign me this issue. I want to work on it

[2020-03-18 22:43] #36 closed

[2020-03-18 22:44] #30 closed

[2020-03-18 22:52] #15 closed

[2020-03-18 23:19] sharmaaditya570191 commented on #20
Thanks for your suggestion @jamesjose03 . Here we don't have a long `README.md` so their is no need for TOC. We may open this at a later stage. Closing it for now.

[2020-03-18 23:19] #20 closed

[2020-03-18 23:21] #37 closed

[2020-03-18 23:31] #35 closed

[2020-03-20 04:37] sharmaaditya570191 opened #55 "Convert all css code to scss"
A preprocessor is one of the best ways to style a project as it gives additional features and enhances code readability. This involves converting all existing `css` code which is used for styling to `scss` code.

[2020-03-20 08:04] Aman-Codes commented on #55
@sharmaaditya570191 I am a GSSOC participant and I would like to work on it. Please assign me this issue.

[2020-03-20 12:30] ranjal007 commented on #55
hey can u please assign it to me for GSSOC . I need to work on this issue.

[2020-03-23 15:23] sharmakeshav10 commented on #55
please assign me this issue @sharmaaditya570191

[2020-03-23 15:27] sharmakeshav10 commented on #32
@sharmaaditya570191 please assign me this issue and further guide me to proceed for the same.

[2020-03-24 15:44] anubhavsingh16 opened #59 "Add Communication channel link in README.md"
# Description

As a contributor,
I need to know where I can reach out to the community,
so that I can discuss or see discussions of this project.

I would suggest adding a section such as "Contact us" or "How to reach us" to the README.

## Update [Required]

Add the contact section.

## Definition of Done

[ ] All of the required items are completed.
[ ] Approval by 1 mentor.

## Estimation

[0.5

[2020-03-24 17:08] shreoshi-roy commented on #59
I would like to work on this issue. Please assign it to me.

[2020-03-24 18:49] sharmaaditya570191 commented on #59
Let @anubhavsingh16 solve this. I am going to open fresh issues soon @shreoshi-roy . Till then you can take up some existing issue which is not assigned.

[2020-03-26 11:19] dibakar95 commented on #31
@sharmaaditya570191 has the issue been fixed?

[2020-03-26 11:22] dibakar95 commented on #25
Hi, GSSoC20 participant here. I wish to work on this issue. Please assign this task to me.

[2020-03-26 15:32] Samriddhi25 commented on #7
@sharmaaditya570191  please review my PR #21 for this issue.

[2020-03-26 16:56] somyaranjan26 opened #60 "Change the colour theme to somewhat lighter/brighter colour"
Change the colour theme to somewhat lighter/brighter colour which will become day mode.

[2020-03-26 18:57] somyaranjan26 opened #61 "Add a button to change modes between Day and Night mode."
Add Toggle button which is use to change colour theme from day to night mode and via-versa (i.e. from light theme to dark theme)

[2020-03-27 08:26] Adyasha8105 commented on #60
I want to work on this issue @somyaranjan26

[2020-03-27 08:36] Adyasha8105 commented on #61
please assign this issue to me @somyaranjan26

[2020-03-27 08:37] Adyasha8105 commented on #61
I will work on both the issue.

[2020-03-27 11:20] avinash2201 commented on #60
Hey,I want to work on this issue

[2020-03-28 05:27] BhuwanChandra commented on #61
@somyaranjan26 I would like to work on this issue. please assign this to me.

[2020-03-28 09:43] mySTRiouscoder opened #62 "Github Actions"
I'm planning to add following actions to this project:
1.)Greet:This action will greet the participant whenever they raise an issue or submit a PR .
2.)Stale: To mark unattended issues or PR(s).
3.)Mind-Your-Language: To warn the participant if he/sye uses foul language in the repo.

Will update this list with more ideas as well.

I'm working on this issue.

[2020-03-29 05:29] vipul-aggarwal-099 commented on #9
In Progress.

[2020-03-29 13:09] somyaranjan26 commented on #61
Actually @Adyasha8105, there is only one issue per participant in each project.

[2020-03-29 13:10] Adyasha8105 commented on #61
okay @somyaranjan26

[2020-03-30 18:37] Adyasha8105 commented on #60
@somyaranjan26 Can you just elaborate the issue?

[2020-03-30 19:19] Adyasha8105 commented on #60
@somyaranjan26 As the images present inside the site are white in color and the logo, red in color which can't be changed. Also, the site is made on the basis of dark mode that's why all colors are arranged accordingly. Now I have to change it into day mode so light colors are most preferable to it but it will match with those images.
Lemme know what you think?

[2020-04-01 06:26] Ruchika30 commented on #26
I can work on this issue. Please assign it to me if not done . @sharmaaditya570191

[2020-04-01 09:55] somyaranjan26 commented on #60
@Adyasha8105 for now, you can add your icons and logos according to your style. If it looks fine, we will continue with it otherwise later we will create an issue for logos and icons. And sorry for being late in replying.

[2020-04-01 21:33] aditianshu commented on #6
@sharmaaditya570191 Could I have this issue instead?
I'm a GSSoC '20 participant.
Thanks.

[2020-04-03 09:31] shreyakapoor08 commented on #60
@somyaranjan26 can I work on this ?

[2020-04-03 09:32] shreyakapoor08 commented on #59
@sharmaaditya570191 can i work on this ?

[2020-04-03 09:33] shreyakapoor08 commented on #28
@sharmaaditya570191 if the issue is pending, can I work on this ?

[2020-04-03 09:34] shreyakapoor08 commented on #25
@sharmaaditya570191 Can I work on this ?

[2020-04-03 09:36] shreyakapoor08 commented on #9
@sharmaaditya570191 Can I work on this ?

[2020-04-03 09:44] SomyaGandhi commented on #28
I will send a pull request in a few days. I had to learn some things. @shreyakapoor08 :)

[2020-04-03 11:16] anubhavsingh16 commented on #59
Yes

On Fri, 3 Apr 2020, 15:02 shreya kapoor, <notifications@github.com> wrote:

[2020-04-03 11:26] shreyakapoor08 commented on #59
are you working on it?

[2020-04-03 11:38] anubhavsingh16 commented on #59
No

On Fri, 3 Apr 2020, 16:56 shreya kapoor, <notifications@github.com> wrote:

[2020-04-03 11:39] shreyakapoor08 commented on #59
@sharmaaditya570191 Can i do it?

[2020-04-03 21:57] shreyakapoor08 commented on #60
@somyaranjan26 Hey, I have gone through many websites and thought of giving it this color palette. Please let me know if it is fine. Or anything else has to be done.

[2020-04-04 19:02] sharmaadityaHQ opened #69 "Migrate to MongoDB"
Currently the database is organised in `JavaScript`. This tasks involves replicating and migrating the same functionality with MongoDB.

[2020-04-04 19:07] sharmaaditya570191 opened #70 "Connect Express to MongoDB via Mongoose"
This task involves connecting the API made with Express to the backend made using MongoDB via Mongoose. This would ensure proper flow of data stored in the backend.

[2020-04-04 19:11] sharmaaditya570191 opened #71 "Create Schema for Minion using Mongoose"
Everything in Mongoose starts with a Schema. Each schema maps to a MongoDB collection and defines the shape of the documents within that collection. This task involves making a schema for `minions`. You can refer to `createMinion` function in `server/db.js` file to complete this task.

[2020-04-04 19:14] sharmaaditya570191 opened #72 "Create Schema for Work using Mongoose"
Everything in Mongoose starts with a Schema. Each schema maps to a MongoDB collection and defines the shape of the documents within that collection. This tasks involves using Mongoose to create schema for `Work`. You can refer to the `createWork` function in `server/db.js` file to complete this task.

[2020-04-04 19:16] sharmaaditya570191 opened #73 "Create schema for Idea using Mongoose"
This involves referring to `createIdea` function in `server/db.js` file to create a schema for `Idea`.

[2020-04-04 19:18] sharmaaditya570191 opened #74 "Create schema for Meeting using Mongoose"
You can refer to `createMeeting` function in `server/db.js` to make a schema for `Meetings` using Mongoose.

[2020-04-04 19:20] sharmaaditya570191 opened #75 "Design footer for BossY"
This includes designing a nice footer for the app.

[2020-04-04 19:20] sharmaaditya570191 opened #76 "Add cookies to the app"
This task includes adding cookies support to the app.

[2020-04-04 19:23] sharmaaditya570191 opened #77 "Create a cookies policy page for the app"
This includes creating a policy page for cookies which is similar to this:-
![image](https://user-images.githubusercontent.com/42587159/78459624-e4fc2f00-76d7-11ea-8ce7-56b329c256df.png)

[2020-04-04 19:29] sharmaaditya570191 opened #78 "Implement search functionality for minions"
Make a search component for searching minions when their name is typed in which are similar to employees of a company.

[2020-04-04 19:39] aldrinjenson commented on #78
Hi, I would like to work on this. May I have a go?

[2020-04-04 19:46] ashishnagpal2498 commented on #72
Hi @sharmaaditya570191  I would like to work on this issue.

[2020-04-04 19:47] ashishnagpal2498 commented on #69
Can I work on this issue?

[2020-04-04 19:50] ashishnagpal2498 commented on #70
I can work on this issue along with issue 69 as it connects.

[2020-04-04 20:15] shreyakapoor08 commented on #77
@sharmaaditya570191 Can I work on this issue?
I am working on converting the lighter theme and just some minor changes are left.

[2020-04-04 20:16] shreyakapoor08 commented on #78
can I work on this issue @sharmaaditya570191 along with #77 .

[2020-04-04 21:38] NikitaMasand commented on #69
If this issue's not assigned, I would like to work on it.

[2020-04-04 21:41] NikitaMasand commented on #71
I can create the schemas for our project.
I would like to work on this issue.

[2020-04-04 21:43] NikitaMasand commented on #73
I would like to create schemas for our project and work on this issue.

[2020-04-04 21:43] NikitaMasand commented on #74
I would like to work on this issue.

[2020-04-04 21:45] NikitaMasand commented on #76
I would like to work on this issue.

[2020-04-04 21:47] shwetagurnani commented on #72
Please assign me this issue

[2020-04-04 21:47] shwetagurnani commented on #71
Please assign me this issue

[2020-04-04 21:48] shwetagurnani commented on #74
Please assign me this issue

[2020-04-04 21:48] shwetagurnani commented on #73
Please assign me this issue

[2020-04-04 21:51] shwetagurnani commented on #69
Please assign me this issue

[2020-04-04 21:51] shwetagurnani commented on #70
Please assign me this issue

[2020-04-04 22:29] NikitaMasand commented on #70
I would like to work on this issue.

[2020-04-05 00:18] Endowmissy commented on #71
I would like to work on this issue, please assign it to me

[2020-04-05 00:22] Satyam3976 commented on #74
Please assign this issue to me as I have no issue to work on currently. I have already submitted my PR for the issues assigned to me:)

[2020-04-05 00:23] Satyam3976 commented on #71
Please assign this issue to me as I have no issue to work on currently. I have already submitted my PR for the issues assigned to me:)

[2020-04-05 00:23] Satyam3976 commented on #72
Please assign this issue to me as I have no issue to work on currently. I have already submitted my PR for the issues assigned to me:)

[2020-04-05 00:23] Satyam3976 commented on #73
Please assign this issue to me as I have no issue to work on currently. I have already submitted my PR for the issues assigned to me:)

[2020-04-05 00:26] Endowmissy commented on #76
I would like to work on this issue,please assign it to me

[2020-04-05 04:11] BhuwanChandra commented on #75
@sharmaaditya570191 @somyaranjan26 I would like to work on this issue. please assign me.

[2020-04-05 04:12] BhuwanChandra commented on #73
@sharmaaditya570191 I would like to work on this issue. please assign me.

[2020-04-05 04:13] BhuwanChandra commented on #74
@sharmaaditya570191 I would like to work on this issue. please assign me.

[2020-04-05 04:14] BhuwanChandra commented on #70
@sharmaaditya570191 I would like to work on this issue. please assign me.

[2020-04-05 04:25] BhuwanChandra commented on #72
@sharmaaditya570191 I would like to work on this issue. please assign me.

[2020-04-05 04:59] Sapna2001 opened #81 "Create code of conduct.md file"
Please assign me this issue.

[2020-04-05 08:17] Adyasha8105 commented on #75
@sharmaaditya570191 Can I also work on this issue?

[2020-04-05 10:42] ashishnagpal2498 commented on #78
Can I work on this issue @sharmaaditya570191 ?

[2020-04-05 12:30] somyaranjan26 commented on #75
As you know one participant can work one issue at a time in a project. As @BhuwanChandra already assigned for this issue so, right now we can't assign you this issue.

@sharmaaditya570191 if you have any suggestions about any feature or design for this project, tell us on slack, if we find it appropriate we will create an issue and directly assign you.

[2020-04-05 12:33] BhuwanChandra commented on #75
@somyaranjan26 @sharmaaditya570191 can you tell me what I need to include in the footer?

[2020-04-05 17:54] shreyakapoor08 commented on #71
@sharmaaditya570191 I want to work on this issue . Please assign this to me

[2020-04-05 17:55] shreyakapoor08 commented on #73
@sharmaaditya570191 I want to work on this issue. Please assign this to me. :)

[2020-04-05 17:55] shreyakapoor08 commented on #74
@sharmaaditya570191 Can I work on this issue ?

[2020-04-06 14:17] sharmaaditya570191 commented on #75
Please wait a bit for the footer component.

[2020-04-06 15:17] Sapna2001 commented on #81
Fixes #83

[2020-04-06 16:06] sharmakeshav10 commented on #75
@sharmaaditya570191 I would like to work on this issue.

[2020-04-07 10:38] BhuwanChandra commented on #25
@sharmaaditya570191 can I work on this issue?

[2020-04-08 09:22] jamesjose03 opened #85 "Add pre-commit hooks"
**Is your feature request related to a problem? Please describe.**
As of now, there are no pre-commit hooks.

**Describe the solution you'd like**
Add prettier and husky as pre-commit hooks for proper code formatting and styling.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-04-08 09:23] jamesjose03 commented on #85
Pls assign this issue to me. I am a Gssoc participant

[2020-04-09 19:55] Dishebh commented on #2
Can I work on this issue?

[2020-04-09 19:57] Dishebh commented on #25
@sharmaaditya570191 is the issue still up for grabs?

[2020-04-10 14:34] ashishnagpal2498 commented on #69
Hi @sharmaaditya570191 , to migrate the functionality to mongoDB using mongoose , i will be needing schemas which are mentioned as other issues.

[2020-04-12 12:34] Endowmissy opened #87 "Restructure the project using the MVC pattern"
**Is your feature request related to a problem? Please describe.**
The project needs to be restructured for easy arrangement and access especially the back-end files

**Describe the solution you'd like**
A src folder needs to be created for the backend files, this will contain other backend folders too, the api.js file should be a route folder and be separated

**Describe alternatives you've consi

[2020-04-14 05:53] sharmaaditya570191 commented on #85
I would be configuring the linter with some custom rules that follow `prettier` and `standard.js` rules in some time. We do not need to add this at the moment. I am opening other issues which you can take. Thanks for your interest.

[2020-04-14 05:53] #85 closed

[2020-04-14 05:54] sharmaaditya570191 commented on #87
After I merge all PR's related to the back end migration to MongoDB I will restructure and most probably create a separate repository for maintaining the back end. Thanks for your interest.

[2020-04-14 05:54] #87 closed

[2020-04-14 06:06] sharmaaditya570191 opened #89 "Create navigation bar component"
You have to create a `function` component in React to replicate the following `navbar`. All styling should be in `scss`.
![image](https://user-images.githubusercontent.com/42587159/79191172-9e2ed780-7e43-11ea-9957-7d3157847436.png)
The `navbar` should change to this on clicking the search button:-
![image](https://user-images.githubusercontent.com/42587159/79191380-0da4c700-7e44-11ea-8590-1d8a9b90

[2020-04-14 06:15] sharmaaditya570191 opened #90 "Create 1st page header component"
You have to create a function component in React to replicate the following header:-
![image](https://user-images.githubusercontent.com/42587159/79191623-a3405680-7e44-11ea-9027-c4803d4c2cc1.png)
You can design it as an svg and do the remaining styling using `scss`. Please ignore the side buttons of "related" and "buy now"

[2020-04-14 06:18] sharmaaditya570191 opened #91 "Create 2nd page header component"
Create a function component in React to replicate the following:-
![image](https://user-images.githubusercontent.com/42587159/79192150-cddedf00-7e45-11ea-8886-feaa0db13257.png)
Use `svg` format and remaining styling with `scss`.

[2020-04-14 06:21] sharmaaditya570191 opened #92 "Create 3rd page header component"
Create a function component in React to replicate the following:-
![image](https://user-images.githubusercontent.com/42587159/79192385-36c65700-7e46-11ea-89fd-f81fa02e81e0.png)
Use `svg` format for the designs and do the remaining styling using `scss`.

[2020-04-14 06:26] sharmaaditya570191 opened #93 "Create footer component"
You have to create a function component in React to replicate the same:-
![image](https://user-images.githubusercontent.com/42587159/79192723-df74b680-7e46-11ea-8863-ec35ffdb2f59.png)
Use `svg` format for the designs and do the remaining styling using `scss`.

[2020-04-14 06:30] Satyam3976 commented on #90
Can I work on this?

[2020-04-14 06:31] Satyam3976 commented on #89
Can I work on this?

[2020-04-14 06:31] Satyam3976 commented on #93
Please assign me this issue, I want to work on it

[2020-04-14 06:34] sharmaaditya570191 opened #94 "Create 1st page content component"
Create a function component in React to replicate the following:-
![image](https://user-images.githubusercontent.com/42587159/79193293-f536ab80-7e47-11ea-9af8-90255b941a57.png)
Use `scss` for styling.

[2020-04-14 06:34] shwetagurnani commented on #91
can i work on it?

[2020-04-14 06:36] sharmaaditya570191 opened #95 "Create 2nd page component"
Create a function component in React to replicate the following:-
![image](https://user-images.githubusercontent.com/42587159/79193494-5e1e2380-7e48-11ea-8d9b-4e9837b26014.png)
![image](https://user-images.githubusercontent.com/42587159/79193903-2b285f80-7e49-11ea-9b6b-5b341a7e71be.png)

Use `scss` for styling.

[2020-04-14 06:39] sharmaaditya570191 opened #96 "Create 3rd page component"
Create a function component in React to replicate the following:-
![image](https://user-images.githubusercontent.com/42587159/79193701-c79e3200-7e48-11ea-97a6-361b9f8563ae.png)
Use `svg` format and `scss` for other styling.

[2020-04-14 06:48] sharmaaditya570191 opened #97 "Create 4th page content component"
You have to create a function component to replicate the following using React:-
![image](https://user-images.githubusercontent.com/42587159/79194207-ce797480-7e49-11ea-8023-60c834ac6d68.png)

Use `svg` format and `scss` for styling.

[2020-04-14 06:50] sharmaaditya570191 opened #98 "Create 5th page content component"
You have to create a function component to replicate the following using React:-
![image](https://user-images.githubusercontent.com/42587159/79194468-3a5bdd00-7e4a-11ea-8458-f23edf2b6197.png)
Use `svg` format and `scss` for styling.

[2020-04-14 06:56] sharmaaditya570191 opened #99 "Create contact us form component"
You have to create a function component to replicate the following using React:-
![](https://user-images.githubusercontent.com/42587159/79194949-13ea7180-7e4b-11ea-86cd-7558cb50a42c.png)

Use `scss` for styling.

[2020-04-14 07:03] sharmaaditya570191 opened #100 "Create a meet the team component"
You have to create a function component in React to make the page - "Meet the Team". You have to use this as a reference to replicate the design:-
[https://foton.qodeinteractive.com/meet-the-team/](https://foton.qodeinteractive.com/meet-the-team/  )
Do not create the `navbar` and the `footer` again for this as they are already a part of other issues.

[2020-04-14 07:14] sharmaaditya570191 opened #101 "Create chat component"
You have to create a chat component which replicates the following using React:-
![image](https://user-images.githubusercontent.com/42587159/79196301-77759e80-7e4d-11ea-9609-81d83316e421.png)
The above chat button on clicking should expand to this:-
![image](https://user-images.githubusercontent.com/42587159/79196358-8f4d2280-7e4d-11ea-9c97-c403d0c3be96.png)
We will use `zendesk` later to integrat

[2020-04-14 07:23] ashishnagpal2498 commented on #99
Hi @sharmaaditya570191 , Can I work on this issue?

[2020-04-14 07:25] ashishnagpal2498 commented on #95
Can I work on this issue @sharmaaditya570191

[2020-04-14 07:28] ashishnagpal2498 commented on #101
Can I work on this issue?

[2020-04-14 07:43] shreyakapoor08 commented on #100
@sharmaaditya570191 Can I do this?

[2020-04-14 07:45] shreyakapoor08 commented on #97
can I do this? @sharmaaditya570191

[2020-04-14 08:42] jamesjose03 commented on #98
I would like to take up this issue @sharmaaditya570191

[2020-04-14 08:55] jamesjose03 commented on #94
I would like to take up this issue @sharmaaditya570191

[2020-04-14 13:44] dibakar95 commented on #96
May I take this issue.

[2020-04-14 13:46] dibakar95 commented on #92
can i take this issue.

[2020-04-14 13:49] dibakar95 commented on #92
can i work upon this issue

[2020-04-14 23:04] dibakar95 commented on #96
@sharmaaditya570191 From where can I get this image

[2020-04-15 04:37] Geesa-Vihara commented on #98
I would like to take up this issue @sharmaaditya570191

[2020-04-15 06:37] #75 closed

[2020-04-15 06:42] sharmaaditya570191 commented on #96
@dibakar95 you can take the animation and the design from this template - [https://foton.qodeinteractive.com/landing/](https://foton.qodeinteractive.com/landing/)
The design is at the bottom. You have to replicate it.

[2020-04-15 06:46] BhuwanChandra commented on #90
@sharmaaditya570191 can I work on this issue? I don't have any issues to work on.

[2020-04-16 09:50] sharmaaditya570191 commented on #90
Please take the designs and animation from here - [https://foton.qodeinteractive.com/](https://foton.qodeinteractive.com/)

[2020-04-21 03:41] darkmatter18 commented on #69
@sharmaaditya570191 Seems incomplete. Can I work on it?

[2020-04-25 08:21] shwetagurnani commented on #96
@sharmaaditya570191  Can I work on this issue?

[2020-04-25 20:52] PritiShaw commented on #89
@sharmaaditya570191  is this issue available?

[2020-04-26 07:31] Satyam3976 commented on #89
No @PritiShaw , this issue is already assigned.

[2020-04-29 10:16] Ruchika30 commented on #100
IS this done ?. If not I can work on it @sharmaaditya570191 ??

[2020-04-29 10:17] shreyakapoor08 commented on #100
I am working on it

[2020-04-29 10:18] Ruchika30 commented on #96
IS this done ?. If not I can work on it @sharmaaditya570191

[2020-04-29 12:52] Rukmini-Meda commented on #78
I would like to work on this issue. Please assign this to me as part of GSSoC'20

[2020-04-29 12:54] Rukmini-Meda commented on #3
I would like to work on this issue if its not done yet. Please assign as part of GSSoC'20.

[2020-04-29 12:55] Rukmini-Meda commented on #6
Can I work on this issue if its not done yet? Please assign this as part of GSSoC'20.

[2020-04-29 18:24] akshaysingh5 commented on #92
I would like to work on this issue, please elaborate.

[2020-04-29 18:27] akshaysingh5 commented on #78
I would like to work on this issue, please assign me and elaborate.

[2020-05-02 07:31] Ruchika30 commented on #101
is this done ? If not Can I work on this issue? @sharmaaditya570191

[2020-05-03 17:25] #97 closed

[2020-05-04 08:25] Dishebh commented on #34
@sharmaaditya570191 can I work on this?

[2020-05-05 13:37] aisha1121 commented on #8
I would like to work on this issue. Can you please assign me for this.

[2020-05-08 15:40] kichloo opened #112 "PR template"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
PR template

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or scre

[2020-05-08 15:41] kichloo commented on #112
It can have Medium as the GSSOC label

[2020-05-09 09:03] aashimgarg opened #113 "Add various Github actions for the project."
**Is your feature request related to a problem? Please describe.**
Add various Github actions for the project.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or scree

[2020-05-11 05:11] ampsteric commented on #101
I can create this component.
please assign

[2020-05-11 05:17] ampsteric commented on #95
I can create this..
please assign

[2020-05-11 05:18] ampsteric commented on #93
I can get this done...

[2020-05-11 05:18] ampsteric commented on #91
I want to work on it..

[2020-05-23 14:07] #74 closed

[2020-05-23 14:13] #95 closed

[2020-05-23 14:14] #99 closed

[2020-05-23 14:22] #59 closed

[2020-05-23 14:30] #73 closed

[2020-05-25 07:55] sharmaaditya570191 opened #118 "Add ES-6 imports and exports to the project"
This task involves refactoring the code base to use ES-6 imports and exports.

[2020-05-25 07:58] sharmaaditya570191 opened #119 "Add Babel support to the project"
This task includes adding Babel to the project to transpile all ES-6 code that is being added. You should include a `.babelrc` config file with the following configuration:-
[code]

[2020-05-25 08:41] #72 closed

[2020-05-25 09:05] shreyakapoor08 commented on #119
Can I do this?

[2020-05-25 18:34] #77 closed

[2020-05-25 18:51] #119 closed

[2020-05-27 11:13] Endowmissy commented on #118
I am interested in working on this, please assign it to me

[2020-05-27 15:35] #93 closed

[2020-05-27 15:37] #26 closed

[2020-05-27 15:47] #34 closed

[2020-05-27 15:54] #112 closed

[2020-05-27 15:55] #33 closed

[2020-05-27 15:55] #60 closed

[2020-05-27 15:55] #61 closed

[2020-05-27 15:55] #62 closed

[2020-05-27 15:55] #81 closed

[2020-05-27 15:55] #16 closed

[2020-05-27 15:55] #18 closed

[2020-05-27 15:56] #9 closed

[2020-05-27 15:56] #7 closed

[2020-05-27 15:58] #29 closed

[2020-05-29 12:33] #113 closed

[2020-05-29 18:56] #98 closed

[2020-05-30 06:32] #31 closed

[2020-05-31 05:56] #118 closed

[2020-05-31 08:01] #27 closed

[2020-05-31 09:12] sharmaaditya570191 opened #144 "BOSSY slack workspace for development discussions"
Please join here - https://join.slack.com/t/bossy-in/shared_invite/zt-eqrnazbm-wCb3HrboYulscaakRlaBPw to be a part of our wonderful team of developers and designers from around the world.

[2020-05-31 16:27] #89 closed